[Unit]
Description=Run Scottish Ferry Services weather fetcher

[Timer]
OnBootSec=2min
OnUnitInactiveSec=15min
AccuracySec=1min
Unit=ferry-services-weather-fetcher.service

[Install]
WantedBy=timers.target
