[Unit]
Description=Run Scottish Ferry Services timetable document fetcher
PartOf=ferry-services.target

[Timer]
OnBootSec=4min
OnUnitInactiveSec=6h
AccuracySec=5min
Persistent=true
Unit=ferry-services-timetable-document-fetcher.service

[Install]
WantedBy=timers.target
