[Unit]
Description=Scottish Ferry Services application
Wants=ferry-services.service
Wants=ferry-services-scraper.timer
Wants=ferry-services-weather-fetcher.timer
Wants=ferry-services-vessel-fetcher.timer
Wants=ferry-services-rail-departure-fetcher.timer
Wants=ferry-services-timetable-document-fetcher.timer
Wants=ferry-services-transxchange-ingester.timer

[Install]
WantedBy=multi-user.target
